<div class="form-content" style="margin-left: 100px;">
	<h4>New Web Crawler</h4>

	<%= render 'form' %>
	<%= link_to raw('<i class="icon-hand-left"> Back </i>') , crawlers_path,:class=>"btn btn-small btn-info" %>
</div>



